<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/index :: #header-section">
</head>
<body>
<div class="container">
    <div th:replace="home/index :: #navbar-section"></div>

    <form action="/booknow" method="post" >
        <div class="form-group">
            <label for="startdate">Start Date</label>
            <input type="date" id="startdate" th:min="${#dates.createNow()}" name="startdate" class="form-control">
        </div>
        <div class="form-group">
            <label for="enddate">End Date</label>
            <input type="date" id="enddate" name="enddate"
                   th:min="${#dates.createNow()}" class="form-control">
        </div>
        <div class="form-group">
            <label for="numBeds">Number Of Beds</label>
            <select id="numBeds" name="numbeds">
                <option value="8" th:text="8"></option>
                <option value="10" th:text="10"></option>
                <option value="12" th:text="12"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Check Availability & Enter Payment</button>
    </form>
</div>
</body>
</html>